*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(127, 91, 255);
}

.top {
    margin: 3%;
    text-align: center;
    color: rgb(255, 145, 0);
    text-decoration: 2px underline;
    text-shadow: 2px 2px #363636;
    font-weight: bold;
}

.container{
    border: 3px solid rgb(255, 0, 0);
    border-radius: 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.labl {
    display : block;
    text-align: center;
}

.labl > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
    
}

.labl > input + div{ /* DIV STYLES */
    cursor:pointer;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
}

.labl > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */
    background-color: #ffd6bb;
    border: 1px solid #ff6600;
}